body {
    border-style: solid;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

main {
    border-style: solid;
    border-color: indianred;
    display: flex;
    flex: 1 1 auto;
}

header {
    flex: 0 0 100px;
}

article {
    flex: 1 1 auto;
}

nav {
    flex: 0 0 15vw;
    order: -1;
}

aside {
    flex: 0 0 15vw;
}

footer {
    flex: 0 0 100px
}